// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.customer-card {
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 0 15px;
  min-width: 230px;

  img {
    width: 200px;
    height: 300px;
  }

  margin: 10px 20px;
}

.customer-grid {
  display: flex;
  flex-wrap: wrap;
}

.links {
  background-color: #dddddd;

  ul {
    list-style: none;
    display: flex;
    margin: 0 0 10px 0;

    li {
      margin: 0 10px;
      padding: 5px;

      a:link, a:visited {
        text-decoration: none;
        color: #007de4;
      }

      a:hover {
        color: #4395d8;
      }
    }
  }
}

